@font-face {
    font-family: 'UnnamedDOSFontIV';
    src: url('fonts/unnameddosfontiv/UnnamedDOSFontIV.ttf') format('truetype');
}
@font-face {
    font-family: 'Operation Napalm';
    src: url('fonts/operationnapalm/OperationNapalmItalic-1GgAv.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Operation Napalm';
    src: url('fonts/operationnapalm/OperationNapalm-nRBWO.ttf') format('truetype');
}

@font-face {
    font-family: 'Hexcore';
    src: url('fonts/hexcore/Hexcore-w1p4Z.ttf') format('truetype');
}

@font-face {
    font-family: 'Novem';
    src: url('fonts/novem/Novem-gx193.ttf') format('truetype');
}

@font-face {
    font-family: 'TeleSys';
    src: url('fonts/telesys/TeleSys.ttf') format('truetype');
}

@font-face {
    font-family: 'DigitTech7';
    src: url('fonts/digittech/DigitTech7-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DigitTech9';
    src: url('fonts/digittech/DigitTech9-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DigitTech14';
    src: url('fonts/digittech/DigitTech14-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'DigitTech16';
    src: url('fonts/digittech/DigitTech16-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'E1234';
    src: url('fonts/e1234/E1234.ttf') format('truetype');
}
@font-face {
    font-family: 'MeleeSans';
    src: url('fonts/meleesans/MeleeSans.ttf') format('truetype');
}
@font-face {
    font-family: 'koubit_001';
    src: url('fonts/koubit001/koubit_001.ttf') format('truetype');
}
@font-face {
    font-family: 'PixelMordred';
    src: url('fonts/pixelmordred/PixelMordred.ttf') format('truetype');
}
@font-face {
    font-family: 'Ikaruga';
    src: url('fonts/ikaruga/Ikaruga.ttf') format('truetype');
}
@font-face {
    font-family: 'Fewture';
    src: url('fonts/fewture/Fewture.ttf') format('truetype');
}
@font-face {
    font-family: 'LCDBlock';
    src: url('fonts/lcdblock/LCDBlock.ttf') format('truetype');
}